HELP.md
target/
!application-api/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/**/resources/application-dev.yml
!**/src/**/resources/log4j2-dev.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.properties

### custom ####
/media_uploads/
student/
school/
/src/main/resources/static/uploads/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Dev Env ###
log4j2-dev.xml
application-dev.yml
.env