<div th:fragment="footer_scripts" xmlns:th="http://www.w3.org/1999/xhtml">
	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->
	<script src="../../../resources/static/vendor/libs/jquery/jquery.js"></script>
	<script src="../../../resources/static/vendor/libs/popper/popper.js"></script>
	<script src="../../../resources/static/vendor/js/bootstrap.js"></script>
	<script src="../../../resources/static/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

	<script src="../../../resources/static/vendor/js/menu.js"></script>
	<!-- endbuild -->

	<!-- Vendors JS -->
	<script src="../../../resources/static/vendor/libs/apex-charts/apexcharts.js"></script>

	<!-- Main JS -->
	<script src="../../../resources/static/js/main.js"></script>

	<!-- Page JS -->
	<script src="../../../resources/static/js/dashboards-analytics.js"></script>

	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js "></script>
</div>