<aside th:fragmet="aside" xmlns:th="http://www.w3.org/1999/xhtml" id="layout-menu"
       class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="../index.html" class="app-brand-link">
			<img th:src="@{~/resources/static/img/logos/arispaylogo1.png}" width="70px" height="70px">
			<span class="app-brand-text demo menu-text fw-bolder ms-2">arisPay</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<ul class="menu-inner py-1">
		<!-- Dashboard -->
		<li class="menu-item active">
			<a href="/dashboard/index" class="menu-link">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Analytics">Dashboard</div>
			</a>
		</li>

		<!-- Layouts -->
		<li class="menu-header small text-uppercase">
			<span class="menu-header-text">Admin</span>
		</li>
		<li class="menu-item">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-layout"></i>
				<div data-i18n="Layouts">Companies</div>
			</a>

			<ul class="menu-sub">
				<li class="menu-item">
					<a href="/company/companyList" class="menu-link">
						<div data-i18n="Without menu">List</div>
					</a>
				</li>
				<li class="menu-item">
					<a href="/company/add" class="menu-link">
						<div data-i18n="Without navbar">New</div>
					</a>
				</li>

			</ul>
		</li>
		<li class="menu-item">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-layout"></i>
				<div data-i18n="Layouts">Users</div>
			</a>

			<ul class="menu-sub">
				<li class="menu-item">
					<a href="/users" class="menu-link">
						<div data-i18n="Without menu">List</div>
					</a>
				</li>
				<li class="menu-item">
					<a href="/user/add" class="menu-link">
						<div data-i18n="Without navbar">New</div>
					</a>
				</li>

			</ul>
		</li>

		<li class="menu-item open">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-layout"></i>
				<div data-i18n="Layouts">Company Resources</div>
			</a>

			<ul class="menu-sub">
				<li class="menu-item">
					<a href="/customers" class="menu-link ">
						<div data-i18n="Without menu">Customers</div>
					</a>
				</li>
				<li class="menu-item">
					<a href="/customer/add" class="menu-link">
						<div data-i18n="Without navbar">All Transactions</div>
					</a>
					<a href="/customer/add" class="menu-link">
						<div data-i18n="Without navbar">Credit</div>
					</a>
					<a href="/customer/add" class="menu-link">
						<div data-i18n="Without navbar">Debit</div>
					</a>
					<a href="/customer/add" class="menu-link">
						<div data-i18n="Without navbar">Payment Notifications</div>
					</a>
				</li>

			</ul>
		</li>

		<li class="menu-header small text-uppercase">
			<span class="menu-header-text">Company Resources</span>
		</li>
		<li class="menu-item">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-dock-top"></i>
				<div data-i18n="Account Settings">Users</div>
			</a>
			<ul class="menu-sub">
				<li class="menu-item">
					<a href="pages-account-settings-account.html" class="menu-link">
						<div data-i18n="Account">List</div>
					</a>
				</li>
				<li class="menu-item">
					<a href="pages-account-settings-notifications.html" class="menu-link">
						<div data-i18n="Notifications">New</div>
					</a>
				</li>

			</ul>
		</li>
		<li class="menu-item">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
				<div data-i18n="Authentications">Accounts</div>
			</a>
			<ul class="menu-sub">
				<li class="menu-item">
					<a href="auth-login-basic.html" class="menu-link" target="_blank">
						<div data-i18n="Basic">List</div>
					</a>
				</li>
				<li class="menu-item">
					<a href="auth-register-basic.html" class="menu-link" target="_blank">
						<div data-i18n="Basic">New</div>
					</a>
				</li>

			</ul>
		</li>
		<li class="menu-item">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-cube-alt"></i>
				<div data-i18n="Misc">Customers</div>
			</a>
			<ul class="menu-sub">
				<li class="menu-item">
					<a href="pages-misc-error.html" class="menu-link">
						<div data-i18n="Error">List</div>
					</a>
				</li>
				<li class="menu-item">
					<a href="pages-misc-under-maintenance.html" class="menu-link">
						<div data-i18n="Under Maintenance">New</div>
					</a>
				</li>
			</ul>
		</li>
		<li class="menu-item">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-cube-alt"></i>
				<div data-i18n="Misc">Configurations</div>
			</a>
			<ul class="menu-sub">
				<li class="menu-item">
					<a href="pages-misc-error.html" class="menu-link">
						<div data-i18n="Error">List</div>
					</a>
				</li>

			</ul>
		</li>
		<!-- Components -->
		<li class="menu-header small text-uppercase"><span class="menu-header-text">Transactions</span></li>
		<!-- Cards -->
		<li class="menu-item">
			<a href="cards-basic.html" class="menu-link">
				<i class="menu-icon tf-icons bx bx-collection"></i>
				<div data-i18n="Basic">All Credit</div>
			</a>
		</li>
		<!-- User interface -->
		<li class="menu-item">
			<a href="javascript:void(0)" class="menu-link">
				<i class="menu-icon tf-icons bx bx-box"></i>
				<div data-i18n="User interface">All Debit</div>
			</a>
		</li>

		<li class="menu-item">
			<a href="ui-accordion.html" class="menu-link">
				<i class="menu-icon tf-icons bx bx-box"></i>
				<div data-i18n="Accordion">Payment Notifications</div>
			</a>
		</li>
		<li class="menu-item">
			<a href="ui-alerts.html" class="menu-link">
				<i class="menu-icon tf-icons bx bx-box"></i>
				<div data-i18n="Alerts">Business To Customer</div>
			</a>
		</li>


		<!-- Misc -->
		<li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>
		<li class="menu-item">
			<a
					href="https://arisPay.co.ke"
					target="_blank"
					class="menu-link"
			>
				<i class="menu-icon tf-icons bx bx-support"></i>
				<div data-i18n="Support">Support</div>
			</a>
		</li>
		<li class="menu-item">
			<a
					href="https://arisPay.co.ke/man"
					target="_blank"
					class="menu-link"
			>
				<i class="menu-icon tf-icons bx bx-file"></i>
				<div data-i18n="Documentation">User Manual</div>
			</a>
		</li>
	</ul>
</aside>